.container{ 
    width: 1170px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 25px;
}
.logo{
    display: flex;
    width: 147px;
    height: 38.96px;
    align-items: center;
    justify-content: space-between;
}
.header_icon{
    width:31.79px;
}
.logo>p{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.searchpanel{
    display: flex;
    width: 582px;
    height: 46px;
    margin-left: 120px;
    border-radius: 7px;
    border: 2px solid #7AC751;
}
.input_search{
    width: 100%;
    padding-left:25px ;
}
.search_icons{
    display: flex;
    width: 55px;
    height: 100%;

}
.btnsearch{
    cursor: pointer;
    width: 100%;
    background: #7AC751;;
    border: none;
   border-top-right-radius:4px;
    
}
.header_btn{
    display: flex;
    margin-left: 200px;
    width: 123px;
    height: 26px;
}
.categories{
    width: 123px;
    height: 45px;
    border: none;
}
.searchicon{
    height: 16px;
    width: 16px;

}
.basket{
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.shop{
    position: relative;
    display: flex;
    background: none;
    border: none;
}
.btn_circle{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    top: 1px;
    left: 24px;
    background: #7AC751;
    color: #fff;
    border-radius: 50%;
}
.btn_circle>p{
    font-family: 'Rubik', sans-serif;
    font-size: 7px;
}
.icon_notification{
    Width:18.42px;
    Height:100%;
    cursor: pointer;
}
.icon_account{
    Width:18.42px;
    Height:100%;
    cursor: pointer;
}
.Notification{
    fill: none;
    width: 26;
    height: 26px;
}
.notification{
    margin-left: 19px;
    background: none;
    border: none;
}
.account{
    Width:20.31px;
    Height:24px;
    margin-left: 13px;
    margin-top: 3px;
    background: none;
    border: none;    
}
.navigation{
    position: relative;
    display: flex;
    width: 1170px;
    height: 67px;
    margin-top: 25px;
    margin: 0 auto;
}
.catalog{
    cursor: pointer;
    display: flex;
    width: 260px;
    height: 67px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.iconcatalog{
    Width:24px;
    Height:24px;
    align-items: center;
}
.catalog>p{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-left: 23px;
    color: #fff;
}
.nav-bar{
    display: flex;
    margin-left: 82px;
    margin-top: 25px;
    height: 17px;
}
.nav-link{
    display: flex;
    width: 100%;
    column-gap: 65px;
    text-align: center;
}
.link{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}
.list{
    display: none;
    width: 89%;
    height: 41px;
    background:rgba(247, 248, 250, 1);
    padding-left:29px;
    border-bottom: 0.8px solid rgba(227, 227, 227, 1);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.sub-navBtn{
    cursor: pointer;
    display: flex;
    width: 260px;
    height: 100%;
    padding-top: 22px;
    padding-left: 30px;
    background: rgba(122, 199, 81, 1);
    border: none;
}
.sub-nav{ 
    display: none;
    flex-direction: column;
    row-gap: 1px;
    position: absolute;
    list-style: none;
    width: 260px;
}
.sub-navBtn:focus+.sub-nav{
    display: flex;
    transform: translateY(68px);
    
}
.sub-nav-item{
    height: 31px;
    border-bottom: 0.8px solid #E3E3E3;

}
.catalog:focus+.list{
    display: flex;
}
li{
    cursor: pointer;
    height:41px;
    padding-top: 10px;
}
.a{
    cursor: pointer;
    padding-top:10px;
    width: 100%;
    height: 20px;
    background: chartreuse;
}
.All{
    padding-top: 10px;
}
.baner{
    display: flex;
    width:899px;
    height: 465px;
    margin-left: 23%;
    height: 465px;
}
.imgbaner{
    width:100%;
    height: 100%;
}
.chair{
    position: absolute;
    margin-left: 381px;
    margin-top: 36px;
}
.imgbaner{
    position: relative;
}
.Top{
    position: absolute;
    margin-top: 73px;
    margin-left: 47px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color:rgba(122, 199, 81, 1);
}
.maketing{
    width: 318px;
    position: absolute;
    margin-top: 104px;
    margin-left: 47px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 40px;
}
.frame{
    width: 177px;
    height: 11px;
    position: absolute;
    margin-top: 180px;
    margin-left: 184px;
}
.discount{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 27px;
    position: absolute;
    margin-top: 227px;
    margin-left: 47px;
    color: rgba(81, 81, 81, 0.71);
}
.buy{
    position: absolute;
    width: 129px;
    height: 40px;
    margin-top: 287px;
    margin-left: 47px;
    border-radius: 8px;
    background:rgba(122, 199, 81, 1);
    border: none;
}
.buy>p{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: white;
}
.slider{
    display: flex;
    position: absolute;
    width: 105px;
    height: 12px;
    margin-left: 400px;
    margin-top: 407px;
    column-gap: 15px;
}
.cirle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(122, 199, 81, 0.29);
}
.regtanle{
    width: 24px;
    height: 9px;
    background: #7AC751;
    border-radius: 666px;
}
.Advantages{
    display: flex;
    width: 100%;
    height: 58px;

    margin-top: 81px;
}
.free{
    width: 58px;
}
.shap{
    display: flex;
    width: 133px;
    margin-top: 6px;
    margin-left: 15px;
    flex-wrap: wrap;
}
.shipping{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.sub-shipping{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(81, 81, 81, 0.71);
}
.gift{
    margin-left: 107px;
    width: 58px;
}
.Gift{
    width: 151px;
    margin-top: 6px
}
.giftcard{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.getcard{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(81, 81, 81, 0.71);
    margin-top: 8px;
}
.wallet{
    margin-left: 107px;
    width: 58px;
    display: flex;
}
.Wallet{
    margin-top: 6px;
}
.payment{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.sub-payment{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(81, 81, 81, 0.71);
    margin-top: 8px;
}
.supportsvg{
    width:53.12px;
    margin-left: 109.44px;
}
.support{

    margin-top: 6px;
}
.Support{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.sub-support{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:rgba(81, 81, 81, 0.71);
    margin-top: 8px;
}
.imgright{
    display: flex;
    position: relative;
    Width:669px;
    Height:511px;
}
.offer{
    display: flex;
    width: 100%;
    margin-top: 70px;
}
.textmask+p{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
}
.starting{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
    color:rgba(122, 199, 81, 1);
}
.textmask{
    position: absolute;
    padding-top: 49px;
    padding-left: 31px;
}
.furniture{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color:rgba(85, 85, 85, 1);
}

.more{
    margin-top: 13px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:rgba(117, 117, 117, 1);
}
.arrow{
    position: absolute;
    margin-left: 90px;
    margin-top: 19px;
    width:11px;
    height: 9px;
}
.group{
    display: flex;
    height: 26px;
    cursor: pointer;
    width: 94.96px;
}
.imgleft{
    width: 100%;
    padding-left: 18.96px;

}
.top{
    position: relative;
    display: flex;
}
.texttop{
    position: absolute;
    margin-top: 50px;
    margin-left: 24.04px;
}
.geometric{
    color:rgba(85, 85, 85, 1);
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 22px;
}
.sub-giometric{
    margin-top: 10px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color:rgba(122, 199, 81, 1);
}
.bottom{
    margin-top: 17px;
    display: flex;
}
.textbottom{
    position: absolute;
    margin-top: 50px;
    margin-left: 24.04px;
}
.sofa{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 22px;
}
.sub-sofa{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    color:rgba(122, 199, 81, 1);
}
.trendeng{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin-top: 120px;
    column-gap: 30px;
    row-gap: 45px;
}
.class1{
    width: 270px;
}
.class2{
    width: 270px;
    height: 387px;
}
.class3{
    width: 270px;
    height: 387px;
}
.tren{
    display: block;
}
.class4{
    width: 270px;
    height: 387px;
}
.class5{
    width: 270px;
    height: 387px;
}
.class6{
    width: 270px;
    height: 387px;
}
.class7{
    width: 270px;
    height: 387px;
}
.class8{
    width: 270px;
    height: 387px;
}
.chair1{
    width: 100%;
    height: 287.82px
}
.type{
    margin-top: 15.18px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:rgba(117, 117, 117, 0.71);
}
.name{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 9px;
}
.price{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 8px;
    color:rgba(122, 199, 81, 1);
    Width:46px
}
.review{
    width: 66.96px;
    height: 9.58px;
    margin-left: 208px;
}
.menusvg{
    width: 24px;
    height: 24px;
}
.dd{
    display: flex;
    height: 21px;
}
.star{
    position: absolute;
    width: 66.96px;
    height: 9.58px;
    margin-top: 12px;
    margin-left: 208px;
    display: flex;
}

.feature{
    position: absolute;
    margin-top: 83.59px;
    margin-left: 231px;
}
.elipse{
    cursor: pointer;
    display: flex;
    width: 38.85px;
    height: 38.89px;;
    background: #fff;
    border-radius: 50%;
    margin-top: 8.75px;
    align-items: center;
    border: none;
}
.Oldprice{
    color: #CCCCCC;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    margin-top: 9px;
    margin-left: 7px;
    text-decoration-line:line-through;
}
.revision{
    position: relative;
}
.svgrevision{
    Width:19.43px;
    Height:15.14px;
    margin: 0 auto;
}
.svgshop{
    Width:19.42px;
    Height:19.45px;
}
.new{
    position: absolute;
    width: 44.68px;
    height: 20.42px;
    border-bottom-right-radius: 5px;
}
.text{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: white;
}
.sale{
    position: absolute;
    width: 44.68px;
    height: 20.42px;
    background:rgba(122, 199, 81, 1);
    border-bottom-right-radius: 5px;
}
.page{
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
.pageActive{
    width: 24px;
    height: 24px;
}
.pagediv{
    display: flex;
    margin: 0 auto;
    column-gap: 14px;
}
.offe{
    margin-top: 99px;
    width: 100%;
}
.off{
    width: 100%;
    text-align: center;
}
.textoffer{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 36px;
}
.offercontent{
    display: flex;
    margin-top: 60px;
    column-gap:30px ;
}
.containerLeft{
    display: flex;
    width: 50%;
    height: 249px;
    background: darkkhaki;
    position: relative;
}
.containerRight{
    display: flex;
    width: 50%;
    height: 249px;
    background: rgb(0, 30, 220);
}
.room{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 22px;
    position: absolute;
    margin-top: 28px;
    margin-left: 24px;
}
.sub-room{
    position: absolute;
    width: 227px;
    margin-top: 67px;
    margin-left: 24px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:rgba(117, 117, 117, 1);
}
.priceRppm{
    position: absolute;
    margin-left: 24px;
    margin-top: 128px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color:rgba(122, 199, 81, 1);
}
.oldpriceRoom{
    position: absolute;
    margin-top: 128px;
    margin-left: 77px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color:rgba(204, 204, 204, 1);
    text-decoration-line:line-through;
}
.btnRoom{
    position: absolute;
    width: 91px;
    height: 26px;
    background: rgba(122, 199, 81, 1);
    border: none;
    margin-top: 123px;
    margin-left: 156px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
}
.containerElipse{
    position: absolute;
    display: flex;
    width: 214px;
    height: 40px;
    margin-top: 180px;
    margin-left: 24px;
    column-gap: 20px;
}
.elipseRoom{
    width: 40px;
    height: 40px;
    background: greenyellow;
    border-radius: 50%;
}
.numeric{
    padding-top: 6px;
    padding-left: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.sub-numeric{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 7px;
    padding-left: 10px;
}
.Catagories{
    position: absolute;
    margin-left: 416px;
    margin-top: 15px;
}
.inputIcon{
    position: absolute;
    Width:4.76px;
    Height:7.71px;
    margin-left: 495px;
    margin-top: 20px;
}
/*
font-family: 'Rubik', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Mulish', sans-serif;

*/